.page-gallery {
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  /* grid-template-columns: 1fr 2fr 1fr 2fr 1fr; */
  gap: 1em;
  list-style-type: none;
  margin: 0;
  overflow-x: auto;
  padding: 0;
}

.page-gallery__item {
  background: linear-gradient(to bottom right, rgba(100, 100, 100, 0.25), rgba(100, 100, 100, 0.5));
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0;
  opacity: 0.75;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
}

.page-gallery__item:hover {
  background: linear-gradient(to bottom right, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 1));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  opacity: 1;
}

.page-gallery__fallback {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.page-gallery__fields {
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.page-gallery__field[data-page-gallery-field-name="file.name"] {
  font-weight: bold;
}

.page-gallery__field span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-gallery__image {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
}

.page-gallery__preview {
  overflow: hidden
}

.page-gallery__item p {
  margin-block-start: 0
}

page-gallery__item-field {
  display: block;
}
