.page-gallery {
  --columns: var(--custom-columns, 4);
  --gutter-size: var(--custom-gutter-size, 16px);
  --aspect-ratio: var(--custom-aspect-ratio, 1.618);
  --image-width: var(--custom-image-width, calc(
    (var(--fill-line-width, 700px)
    - (var(--columns) - 1) * var(--gutter-size))
    / var(--columns)));
  --image-height: var(--custom-image-height, calc(var(--aspect-ratio) * var(--image-width)));
  --image-size: var(--custom-image-size, cover);
  --image-position: var(--custom-image-position, center);
  --image-repeat: var(--custom-image-repeat, no-repeat);

  display: flex;
  flex-direction: column;
}

.page-gallery  * {
  box-sizing: border-box;
}

.page-gallery__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.page-gallery__filter label {
  margin: 0 0.25em;
}

.page-gallery__tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gutter-size);
}

.page-gallery__tile {
  max-width: 100%;
  width: var(--image-width);
}

.page-gallery__image {
  background-repeat: var(--image-repeat, no-repeat);
  background-position: var(--image-position, center);
  background-size: var(--image-size, cover);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: block;
  height: var(--image-height);
  opacity: 0.75;
  overflow: hidden;
}

.page-gallery__hidden {
  opacity: 0;
}

.page-gallery__image:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  opacity: 1.0;
}

.page-gallery__fallback {
  align-content: center;
  background: linear-gradient(to bottom right, rgba(100, 100, 100, 0.25), rgba(100, 100, 100, 0.5));
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--image-height);
  text-align: center;
}

.page-gallery__fallback:hover {
  background: linear-gradient(to bottom right, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 1));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.page-gallery__fields {
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.page-gallery__field {
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-gallery__field[data-page-gallery-field-name="file.name"] {
  font-weight: bold;
}
