/* TODO: Figure out how to nest this in the PageGalleryField component */

.page-gallery__field p {
  margin: 0;
}

.page-gallery__field span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}